<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOME</title>
</head>

<body>

    <h1>Tasks</h1>
    <nav>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>

    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}
            <tr>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.status}}</td>
                <td>{{task.deadline}}</td>
                <td>
                    <a href="{% url 'update-task' task.id %}"><button>Edit</button></a>
                    <a href="{% url 'delete-task' task.id %}"
                        onclick="return confirm('Are you sure you want to delete this task?');">
                        <button type="button">Delete</button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>No tasks available</tr>
            {% endfor %}

        </tbody>
    </table>


    <a href="{% url 'add-task' %}">Add task</a>
</body>

</html>